<div class="page-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Profile Image Input -->
 

    <!-- Sidebar Navigation List -->
    <ul class="AppSidebarUl">
      <li class="AppSidebarGroupsItems__item">
        <a role="button" aria-disabled="false" aria-roledescription="sortable" aria-describedby="" draggable="false" class="AppSidebarGroupsItems__item__link" href="<%= root_path %>">
          <div class="AppSidebarGroupsItems__item__categoryIcon">
            <img src="<%= asset_path('home.png') %>" alt="Home" width="24" height="24">
          </div>
          <div class="AppSidebarGroupsItems__item__categoryTitle">
            <div class="AppSidebarGroupsItems__item__categoryTitleWrapper">Home</div>
          </div>
        </a>
      </li>

      <li class="AppSidebarGroupsItems__item">
        <a role="button" aria-disabled="false" aria-roledescription="sortable" aria-describedby="" draggable="false" class="AppSidebarGroupsItems__item__link" href="<%= tasks_path %>">
          <div class="AppSidebarGroupsItems__item__categoryIcon">
            <img src="<%= asset_path('alltasks.png') %>" alt="All Tasks" width="24" height="24">
          </div>
          <div class="AppSidebarGroupsItems__item__categoryTitle">
            <div class="AppSidebarGroupsItems__item__categoryTitleWrapper">All Tasks</div>
          </div>
        </a>
      </li>

      <li class="AppSidebarGroupsItems__item">
        <a role="button" aria-disabled="false" aria-roledescription="sortable" aria-describedby="" draggable="false" class="AppSidebarGroupsItems__item__link" href="<%= groceries_path %>">
          <div class="AppSidebarGroupsItems__item__categoryIcon">
            <img src="<%= asset_path('calendar.png') %>" alt="Calendar" width="24" height="24">
          </div>
          <div class="AppSidebarGroupsItems__item__categoryTitle">
            <div class="AppSidebarGroupsItems__item__categoryTitleWrapper">Grocery List</div>
          </div>
        </a>
      </li>

      <li class="AppSidebarGroupsItems__item">
        <a role="button" aria-disabled="false" aria-roledescription="sortable" aria-describedby="" draggable="false" class="AppSidebarGroupsItems__item__link" href="<%= thoughts_path %>">
          <div class="AppSidebarGroupsItems__item__categoryIcon">
            <img src="<%= asset_path('thoughts.png') %>" alt="Thoughts" width="24" height="24">
          </div>
          <div class="AppSidebarGroupsItems__item__categoryTitle">
            <div class="AppSidebarGroupsItems__item__categoryTitleWrapper">Thoughts</div>
          </div>
        </a>
      </li>

      <li class="AppSidebarGroupsItems__item">
        <a role="button" aria-disabled="false" aria-roledescription="sortable" aria-describedby="" draggable="false" class="AppSidebarGroupsItems__item__link" href="<%= calendar_path %>">
          <div class="AppSidebarGroupsItems__item__categoryIcon">
            <img src="<%= asset_path('calendar.png') %>" alt="Calendar" width="24" height="24">
          </div>
          <div class="AppSidebarGroupsItems__item__categoryTitle">
            <div class="AppSidebarGroupsItems__item__categoryTitleWrapper">Calendar</div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Main content goes here -->
  </div>
</div>
