<!DOCTYPE html>
<html>
<head>
  <title>TaskTamer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'script', 'data-turbo-track': 'reload' %>
</head>
<body>
  <div class="page-container">
    <% if user_signed_in? %>
      <!-- Sidebar -->
      <div class="sidebar">
        <%= render 'shared/sidebar_content' %>
      </div>
    <% end %>
    <%= render 'shared/navbar' %>
    <!-- Main content area -->
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
